<div class="site-web-miss-julie-container10">
  <div class="site-web-miss-julie-site-web-miss-julie">
    <div class="site-web-miss-julie-app">
      <div class="site-web-miss-julie-main-content">
        <div class="site-web-miss-julie-products">
          <div class="site-web-miss-julie-container11">
            <div class="site-web-miss-julie-heading21">
              <span class="site-web-miss-julie-text10 titre">
                Nos Créations
              </span>
            </div>
            <div class="site-web-miss-julie-paragraph10">
              <span class="site-web-miss-julie-text11">
                Chaque sac est une pièce unique, confectionnée avec soin à
                partir de matériaux recyclés. Faites un choix responsable sans
                compromis sur le style.
              </span>
            </div>
          </div>
          <div class="site-web-miss-julie-container12">
            <div class="site-web-miss-julie-card10">
              <div class="site-web-miss-julie-product-card10">
                <span class="site-web-miss-julie-text12">
                  Sac fourre-tout Classic
                </span>
              </div>
              <div class="site-web-miss-julie-product-card11">
                <span class="site-web-miss-julie-text13">
                  Grand sac parfait pour le quotidien, fabriqué à partir de
                  tissus recyclés.
                </span>
              </div>
              <div class="site-web-miss-julie-product-card12">
                <div class="site-web-miss-julie-text14">
                  <span class="site-web-miss-julie-text15">45$</span>
                </div>
              </div>
              <button class="site-web-miss-julie-button10">
                <div class="site-web-miss-julie-iconly-regular-light-send1">
                  <div class="site-web-miss-julie-send10">
                    <img
                      src="/assets/sendi125-jxrd.svg"
                      alt="SendI125"
                      class="site-web-miss-julie-send11"
                    />
                  </div>
                </div>
                <span class="site-web-miss-julie-text16">Détails</span>
              </button>
              <div class="site-web-miss-julie-product-card13">
                <div class="site-web-miss-julie-image-with-fallback10"></div>
              </div>
            </div>
            <div class="site-web-miss-julie-card11">
              <div class="site-web-miss-julie-product-card14">
                <span class="site-web-miss-julie-text17">
                  Sac fourre-tout Classic
                </span>
              </div>
              <div class="site-web-miss-julie-product-card15">
                <span class="site-web-miss-julie-text18">
                  Grand sac parfait pour le quotidien, fabriqué à partir de
                  tissus recyclés.
                </span>
              </div>
              <div class="site-web-miss-julie-product-card16">
                <div class="site-web-miss-julie-text19">
                  <span class="site-web-miss-julie-text20">45$</span>
                </div>
              </div>
              <button class="site-web-miss-julie-button11">
                <div class="site-web-miss-julie-iconly-regular-light-send2">
                  <div class="site-web-miss-julie-send12">
                    <img
                      src="/assets/sendi121-627t9.svg"
                      alt="SendI121"
                      class="site-web-miss-julie-send13"
                    />
                  </div>
                </div>
                <span class="site-web-miss-julie-text21">Détails</span>
              </button>
              <div class="site-web-miss-julie-product-card17">
                <div class="site-web-miss-julie-image-with-fallback11"></div>
              </div>
              <div class="site-web-miss-julie-card12">
                <div class="site-web-miss-julie-product-card18">
                  <span class="site-web-miss-julie-text22">
                    Sac fourre-tout Classic
                  </span>
                </div>
                <div class="site-web-miss-julie-product-card19">
                  <span class="site-web-miss-julie-text23">
                    Grand sac parfait pour le quotidien, fabriqué à partir de
                    tissus recyclés.
                  </span>
                </div>
                <div class="site-web-miss-julie-product-card20">
                  <div class="site-web-miss-julie-text24">
                    <span class="site-web-miss-julie-text25">45$</span>
                  </div>
                </div>
                <button class="site-web-miss-julie-button12">
                  <div class="site-web-miss-julie-iconly-regular-light-send3">
                    <div class="site-web-miss-julie-send14">
                      <img
                        src="/assets/sendi123-n56o.svg"
                        alt="SendI123"
                        class="site-web-miss-julie-send15"
                      />
                    </div>
                  </div>
                  <span class="site-web-miss-julie-text26">Détails</span>
                </button>
                <div class="site-web-miss-julie-product-card21">
                  <div class="site-web-miss-julie-image-with-fallback12"></div>
                </div>
              </div>
            </div>
            <div class="site-web-miss-julie-card13">
              <div class="site-web-miss-julie-product-card22">
                <span class="site-web-miss-julie-text27">
                  Sac fourre-tout Classic
                </span>
              </div>
              <div class="site-web-miss-julie-product-card23">
                <span class="site-web-miss-julie-text28">
                  Grand sac parfait pour le quotidien, fabriqué à partir de
                  tissus recyclés.
                </span>
              </div>
              <div class="site-web-miss-julie-product-card24">
                <div class="site-web-miss-julie-text29">
                  <span class="site-web-miss-julie-text30">45$</span>
                </div>
              </div>
              <button class="site-web-miss-julie-button13">
                <div class="site-web-miss-julie-iconly-regular-light-send4">
                  <div class="site-web-miss-julie-send16">
                    <img
                      src="/assets/sendi121-zww.svg"
                      alt="SendI121"
                      class="site-web-miss-julie-send17"
                    />
                  </div>
                </div>
                <span class="site-web-miss-julie-text31">Détails</span>
              </button>
              <div class="site-web-miss-julie-product-card25">
                <div class="site-web-miss-julie-image-with-fallback13"></div>
              </div>
            </div>
            <div class="site-web-miss-julie-card14">
              <div class="site-web-miss-julie-product-card26">
                <span class="site-web-miss-julie-text32">
                  Sac fourre-tout Classic
                </span>
              </div>
              <div class="site-web-miss-julie-product-card27">
                <span class="site-web-miss-julie-text33">
                  Grand sac parfait pour le quotidien, fabriqué à partir de
                  tissus recyclés.
                </span>
              </div>
              <div class="site-web-miss-julie-product-card28">
                <div class="site-web-miss-julie-text34">
                  <span class="site-web-miss-julie-text35">45$</span>
                </div>
              </div>
              <button class="site-web-miss-julie-button14">
                <div class="site-web-miss-julie-iconly-regular-light-send5">
                  <div class="site-web-miss-julie-send18">
                    <img
                      src="/assets/sendi121-tn45.svg"
                      alt="SendI121"
                      class="site-web-miss-julie-send19"
                    />
                  </div>
                </div>
                <span class="site-web-miss-julie-text36">Détails</span>
              </button>
              <div class="site-web-miss-julie-product-card29">
                <div class="site-web-miss-julie-image-with-fallback14"></div>
              </div>
            </div>
            <div class="site-web-miss-julie-card15">
              <div class="site-web-miss-julie-product-card30">
                <span class="site-web-miss-julie-text37">
                  Sac fourre-tout Classic
                </span>
              </div>
              <div class="site-web-miss-julie-product-card31">
                <span class="site-web-miss-julie-text38">
                  Grand sac parfait pour le quotidien, fabriqué à partir de
                  tissus recyclés.
                </span>
              </div>
              <div class="site-web-miss-julie-product-card32">
                <div class="site-web-miss-julie-text39">
                  <span class="site-web-miss-julie-text40">45$</span>
                </div>
              </div>
              <button class="site-web-miss-julie-button15">
                <div class="site-web-miss-julie-iconly-regular-light-send6">
                  <div class="site-web-miss-julie-send20">
                    <img
                      src="/assets/sendi125-db7.svg"
                      alt="SendI125"
                      class="site-web-miss-julie-send21"
                    />
                  </div>
                </div>
                <span class="site-web-miss-julie-text41">Détails</span>
              </button>
              <div class="site-web-miss-julie-product-card33">
                <div class="site-web-miss-julie-image-with-fallback15"></div>
              </div>
              <div class="site-web-miss-julie-card16">
                <div class="site-web-miss-julie-product-card34">
                  <span class="site-web-miss-julie-text42">
                    Sac fourre-tout Classic
                  </span>
                </div>
                <div class="site-web-miss-julie-product-card35">
                  <span class="site-web-miss-julie-text43">
                    Grand sac parfait pour le quotidien, fabriqué à partir de
                    tissus recyclés.
                  </span>
                </div>
                <div class="site-web-miss-julie-product-card36">
                  <div class="site-web-miss-julie-text44">
                    <span class="site-web-miss-julie-text45">45$</span>
                  </div>
                </div>
                <button class="site-web-miss-julie-button16">
                  <div class="site-web-miss-julie-iconly-regular-light-send7">
                    <div class="site-web-miss-julie-send22">
                      <img
                        src="/assets/sendi126-hp9b.svg"
                        alt="SendI126"
                        class="site-web-miss-julie-send23"
                      />
                    </div>
                  </div>
                  <span class="site-web-miss-julie-text46">Détails</span>
                </button>
                <div class="site-web-miss-julie-product-card37">
                  <div class="site-web-miss-julie-image-with-fallback16"></div>
                </div>
                <div class="site-web-miss-julie-card17">
                  <div class="site-web-miss-julie-product-card38">
                    <span class="site-web-miss-julie-text47">
                      Sac fourre-tout Classic
                    </span>
                  </div>
                  <div class="site-web-miss-julie-product-card39">
                    <span class="site-web-miss-julie-text48">
                      Grand sac parfait pour le quotidien, fabriqué à partir de
                      tissus recyclés.
                    </span>
                  </div>
                  <div class="site-web-miss-julie-product-card40">
                    <div class="site-web-miss-julie-text49">
                      <span class="site-web-miss-julie-text50">45$</span>
                    </div>
                  </div>
                  <button class="site-web-miss-julie-button17">
                    <div class="site-web-miss-julie-iconly-regular-light-send8">
                      <div class="site-web-miss-julie-send24">
                        <img
                          src="/assets/sendi128-hma.svg"
                          alt="SendI128"
                          class="site-web-miss-julie-send25"
                        />
                      </div>
                    </div>
                    <span class="site-web-miss-julie-text51">Détails</span>
                  </button>
                  <div class="site-web-miss-julie-product-card41">
                    <div
                      class="site-web-miss-julie-image-with-fallback17"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="site-web-miss-julie-card18">
              <div class="site-web-miss-julie-product-card42">
                <span class="site-web-miss-julie-text52">
                  Sac fourre-tout Classic
                </span>
              </div>
              <div class="site-web-miss-julie-product-card43">
                <span class="site-web-miss-julie-text53">
                  Grand sac parfait pour le quotidien, fabriqué à partir de
                  tissus recyclés.
                </span>
              </div>
              <div class="site-web-miss-julie-product-card44">
                <div class="site-web-miss-julie-text54">
                  <span class="site-web-miss-julie-text55">45$</span>
                </div>
              </div>
              <button class="site-web-miss-julie-button18">
                <div class="site-web-miss-julie-iconly-regular-light-send9">
                  <div class="site-web-miss-julie-send26">
                    <img
                      src="/assets/sendi129-ezev6.svg"
                      alt="SendI129"
                      class="site-web-miss-julie-send27"
                    />
                  </div>
                </div>
                <span class="site-web-miss-julie-text56">Détails</span>
              </button>
              <div class="site-web-miss-julie-product-card45">
                <div class="site-web-miss-julie-image-with-fallback18"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="site-web-miss-julie-about">
          <div class="site-web-miss-julie-container13">
            <div class="site-web-miss-julie-container14">
              <div class="site-web-miss-julie-heading22">
                <span class="site-web-miss-julie-text57 titre">
                  L&apos;histoire de Miss Julie
                </span>
              </div>
              <div class="site-web-miss-julie-container15">
                <div class="site-web-miss-julie-paragraph11">
                  <span class="site-web-miss-julie-text58">
                    Passionnée par la couture depuis mon enfance, j&apos;ai
                    toujours eu à cœur de créer des objets beaux et utiles. En
                    2023, j&apos;ai décidé de combiner ma passion avec mes
                    valeurs environnementales.
                  </span>
                </div>
                <div class="site-web-miss-julie-paragraph12">
                  <span class="site-web-miss-julie-text59">
                    Miss Julie et ses créations est né de cette vision : offrir
                    des sacs et sacoches uniques, confectionnés à partir de
                    matériaux recyclés et récupérés. Chaque pièce raconte une
                    histoire et contribue à un avenir plus durable.
                  </span>
                </div>
                <div class="site-web-miss-julie-paragraph13">
                  <span class="site-web-miss-julie-text60">
                    Basée au Québec, notre petite entreprise familiale
                    s&apos;engage à produire localement et à maintenir les plus
                    hauts standards de qualité artisanale.
                  </span>
                </div>
              </div>
            </div>
            <div class="site-web-miss-julie-container16">
              <div class="site-web-miss-julie-container17">
                <div class="site-web-miss-julie-image-with-fallback19"></div>
              </div>
            </div>
          </div>
          <div class="site-web-miss-julie-container18">
            <div class="site-web-miss-julie-container19">
              <div class="site-web-miss-julie-container20">
                <img
                  src="/assets/icon2572-b0um.svg"
                  alt="Icon2572"
                  class="site-web-miss-julie-icon10"
                />
              </div>
              <div class="site-web-miss-julie-heading31">
                <span class="site-web-miss-julie-text61">Fait avec amour</span>
              </div>
              <div class="site-web-miss-julie-paragraph14">
                <span class="site-web-miss-julie-text62">
                  Chaque création est confectionnée avec passion et attention
                  aux détails.
                </span>
              </div>
            </div>
            <div class="site-web-miss-julie-container21">
              <div class="site-web-miss-julie-container22">
                <img
                  src="/assets/icon2580-eh8e.svg"
                  alt="Icon2580"
                  class="site-web-miss-julie-icon11"
                />
              </div>
              <div class="site-web-miss-julie-heading32">
                <span class="site-web-miss-julie-text63">Éco-responsable</span>
              </div>
              <div class="site-web-miss-julie-paragraph15">
                <span class="site-web-miss-julie-text64">
                  Nous donnons une seconde vie aux matériaux pour réduire notre
                  impact.
                </span>
              </div>
            </div>
            <div class="site-web-miss-julie-container23">
              <div class="site-web-miss-julie-container24">
                <img
                  src="/assets/icon2589-n22b.svg"
                  alt="Icon2589"
                  class="site-web-miss-julie-icon12"
                />
              </div>
              <div class="site-web-miss-julie-heading33">
                <span class="site-web-miss-julie-text65">
                  Entreprise familiale
                </span>
              </div>
              <div class="site-web-miss-julie-paragraph16">
                <span class="site-web-miss-julie-text66">
                  Une petite entreprise québécoise qui valorise les relations
                  humaines.
                </span>
              </div>
            </div>
            <div class="site-web-miss-julie-container25">
              <div class="site-web-miss-julie-container26">
                <img
                  src="/assets/icon2600-xjon.svg"
                  alt="Icon2600"
                  class="site-web-miss-julie-icon13"
                />
              </div>
              <div class="site-web-miss-julie-heading34">
                <span class="site-web-miss-julie-text67">
                  Qualité artisanale
                </span>
              </div>
              <div class="site-web-miss-julie-paragraph17">
                <span class="site-web-miss-julie-text68">
                  Des produits durables conçus pour résister à l&apos;épreuve du
                  temps.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="site-web-miss-julie-contact10">
          <div class="site-web-miss-julie-container27">
            <div class="site-web-miss-julie-heading23">
              <span class="site-web-miss-julie-text69 titre">
                Contactez-nous
              </span>
            </div>
            <div class="site-web-miss-julie-paragraph18">
              <span class="site-web-miss-julie-text70">
                Une question ? Un projet personnalisé ? N&apos;hésitez pas à
                nous écrire, nous serons ravis de vous répondre !
              </span>
            </div>
          </div>
          <div class="site-web-miss-julie-container28">
            <div class="site-web-miss-julie-card19">
              <div class="site-web-miss-julie-card-content1">
                <div class="site-web-miss-julie-contact11">
                  <img
                    src="/assets/icon2617-88h9.svg"
                    alt="Icon2617"
                    class="site-web-miss-julie-icon14"
                  />
                </div>
                <div class="site-web-miss-julie-contact12">
                  <span class="site-web-miss-julie-text71">
                    contact@missjulie.ca
                  </span>
                </div>
                <div class="site-web-miss-julie-contact13">
                  <span class="site-web-miss-julie-text72">Email</span>
                </div>
              </div>
            </div>
            <div class="site-web-miss-julie-card20">
              <div class="site-web-miss-julie-card-content2">
                <div class="site-web-miss-julie-contact14">
                  <img
                    src="/assets/icon2627-y7sa.svg"
                    alt="Icon2627"
                    class="site-web-miss-julie-icon15"
                  />
                </div>
                <div class="site-web-miss-julie-contact15">
                  <span class="site-web-miss-julie-text73">Téléphone</span>
                </div>
                <div class="site-web-miss-julie-contact16">
                  <span class="site-web-miss-julie-text74">(514) 555-0123</span>
                </div>
              </div>
            </div>
            <div class="site-web-miss-julie-card21">
              <div class="site-web-miss-julie-card-content3">
                <div class="site-web-miss-julie-contact17">
                  <img
                    src="/assets/icon2636-0tz.svg"
                    alt="Icon2636"
                    class="site-web-miss-julie-icon16"
                  />
                </div>
                <div class="site-web-miss-julie-contact18">
                  <span class="site-web-miss-julie-text75">Localisation</span>
                </div>
                <div class="site-web-miss-julie-contact19">
                  <span class="site-web-miss-julie-text76">Québec, Canada</span>
                </div>
              </div>
            </div>
          </div>
          <div class="site-web-miss-julie-card22">
            <div class="site-web-miss-julie-contact20">
              <div class="site-web-miss-julie-container29">
                <div class="site-web-miss-julie-container30">
                  <div class="site-web-miss-julie-label1">
                    <span class="site-web-miss-julie-text77">Nom complet</span>
                  </div>
                  <input
                    type="text"
                    placeholder="Votre nom"
                    class="site-web-miss-julie-input1"
                  />
                </div>
                <div class="site-web-miss-julie-container31">
                  <div class="site-web-miss-julie-label2">
                    <span class="site-web-miss-julie-text78">Email</span>
                  </div>
                  <input
                    type="text"
                    placeholder="votre@email.com"
                    class="site-web-miss-julie-input2"
                  />
                </div>
              </div>
              <div class="site-web-miss-julie-container32">
                <div class="site-web-miss-julie-label3">
                  <span class="site-web-miss-julie-text79">Sujet</span>
                </div>
                <input
                  type="text"
                  placeholder="Sujet de votre message"
                  class="site-web-miss-julie-input3"
                />
              </div>
              <div class="site-web-miss-julie-container33">
                <div class="site-web-miss-julie-label4">
                  <span class="site-web-miss-julie-text80">Message</span>
                </div>
                <div class="site-web-miss-julie-textarea">
                  <span class="site-web-miss-julie-text81">
                    Écrivez votre message ici...
                  </span>
                </div>
              </div>
              <button class="site-web-miss-julie-button19">
                <img
                  src="/assets/icon2667-ldp.svg"
                  alt="Icon2667"
                  class="site-web-miss-julie-icon17"
                />
                <span class="site-web-miss-julie-text82">
                  Envoyer le message
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="site-web-miss-julie-hero">
          <div class="site-web-miss-julie-container34">
            <div class="site-web-miss-julie-heading11">
              <span class="site-web-miss-julie-text83">
                Créations uniques en
              </span>
              <div class="site-web-miss-julie-text84">
                <span class="site-web-miss-julie-text85">
                  produits recyclés
                </span>
              </div>
            </div>
            <div class="site-web-miss-julie-paragraph19">
              <span class="site-web-miss-julie-text86">
                Découvrez nos sacs et sacoches confectionnés avec amour à partir
                de matériaux recyclés. Chaque pièce est unique et contribue à un
                avenir plus durable.
              </span>
            </div>
            <div class="site-web-miss-julie-container35">
              <div class="site-web-miss-julie-container36">
                <img
                  src="/assets/icon2687-fk6.svg"
                  alt="Icon2687"
                  class="site-web-miss-julie-icon18"
                />
                <div class="site-web-miss-julie-text87">
                  <span class="site-web-miss-julie-text88">100% Recyclé</span>
                </div>
              </div>
              <div class="site-web-miss-julie-container37">
                <img
                  src="/assets/icon2693-rgwu.svg"
                  alt="Icon2693"
                  class="site-web-miss-julie-icon19"
                />
                <div class="site-web-miss-julie-text89">
                  <span class="site-web-miss-julie-text90">Fait à la main</span>
                </div>
              </div>
              <div class="site-web-miss-julie-container38">
                <img
                  src="/assets/icon2701-yupf.svg"
                  alt="Icon2701"
                  class="site-web-miss-julie-icon20"
                />
                <div class="site-web-miss-julie-text91">
                  <span class="site-web-miss-julie-text92">Produit local</span>
                </div>
              </div>
            </div>
            <button class="site-web-miss-julie-button20">
              <span class="site-web-miss-julie-text93">Contactez-nous</span>
            </button>
            <button class="site-web-miss-julie-button21">
              <span class="site-web-miss-julie-text94">Notre histoire</span>
            </button>
            <div class="site-web-miss-julie-container39"></div>
            <div class="site-web-miss-julie-container40"></div>
            <div class="site-web-miss-julie-container41">
              <div class="site-web-miss-julie-image-with-fallback20"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-web-miss-julie-header">
      <div class="site-web-miss-julie-container42">
        <div class="site-web-miss-julie-container43">
          <img
            src="/assets/rectangle13813-9fjo-200h.png"
            alt="Rectangle13813"
            class="site-web-miss-julie-rectangle1"
          />
          <div class="site-web-miss-julie-container44">
            <div class="site-web-miss-julie-heading12">
              <span class="site-web-miss-julie-text95">Miss Julie</span>
            </div>
            <div class="site-web-miss-julie-paragraph20">
              <span class="site-web-miss-julie-text96">et ses créations</span>
            </div>
          </div>
        </div>
        <div class="site-web-miss-julie-navigation">
          <div class="site-web-miss-julie-link1">
            <span class="site-web-miss-julie-text97">Accueil</span>
          </div>
          <div class="site-web-miss-julie-link2">
            <span class="site-web-miss-julie-text98">Produits</span>
          </div>
          <div class="site-web-miss-julie-link3">
            <span class="site-web-miss-julie-text99">À propos</span>
          </div>
        </div>
        <button class="site-web-miss-julie-button22">
          <div class="site-web-miss-julie-iconex-light-call">
            <div class="site-web-miss-julie-call">
              <img
                src="/assets/union75-qij.svg"
                alt="Union75"
                class="site-web-miss-julie-union"
              />
            </div>
          </div>
          <span class="site-web-miss-julie-text100">Contact</span>
        </button>
      </div>
    </div>
  </div>
  <a href="https://play.teleporthq.io/signup" class="site-web-miss-julie-link4">
    <div
      aria-label="Sign up to TeleportHQ"
      class="site-web-miss-julie-container45"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="site-web-miss-julie-icon21"
      >
        <path
          d="M9.1017 4.64355H2.17867C0.711684 4.64355 -0.477539 5.79975 -0.477539 7.22599V13.9567C-0.477539 15.3829 0.711684 16.5391 2.17867 16.5391H9.1017C10.5687 16.5391 11.7579 15.3829 11.7579 13.9567V7.22599C11.7579 5.79975 10.5687 4.64355 9.1017 4.64355Z"
          fill="#B23ADE"
        ></path>
        <path
          d="M10.9733 12.7878C14.4208 12.7878 17.2156 10.0706 17.2156 6.71886C17.2156 3.3671 14.4208 0.649963 10.9733 0.649963C7.52573 0.649963 4.73096 3.3671 4.73096 6.71886C4.73096 10.0706 7.52573 12.7878 10.9733 12.7878Z"
          fill="#FF5C5C"
        ></path>
        <path
          d="M17.7373 13.3654C19.1497 14.1588 19.1497 15.4634 17.7373 16.2493L10.0865 20.5387C8.67402 21.332 7.51855 20.6836 7.51855 19.0968V10.5141C7.51855 8.92916 8.67402 8.2807 10.0865 9.07221L17.7373 13.3654Z"
          fill="#2874DE"
        ></path>
      </svg>
      <span class="site-web-miss-julie-text101">Built in TeleportHQ</span>
    </div>
  </a>
</div>
